---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("blog");
---
<BaseLayout pageTitle={pageTitle} basePath={import.meta.env.BASE_PATH || '/'}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
  {allPosts.map((post: any) => {
    let basePath = import.meta.env.BASE_PATH || '/';
    if (basePath === '/' || basePath === '') basePath = '';
    if (basePath && !basePath.startsWith('/')) basePath = '/' + basePath;
    return <BlogPost url={`${basePath}/posts/${post.id}/`} title={post.data.title} />;
  })}    </ul>
</BaseLayout>
