---
const { basePath = '/' } = Astro.props;
const prefix = basePath === '/' ? '' : basePath;
---
<div class="nav-links">
    <a href={`${prefix}/`}>Home</a>
    <a href={`${prefix}/about/`}>About</a>
    <a href={`${prefix}/blog/`}>Blog</a>
    <a href={`${prefix}/tags/`}>Tags</a>
</div>